name: ci-acme

on: pull_request

jobs:
  check-app:
    runs-on: ubuntu-20.04
    steps:
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
         node-version: '14'
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install modules
      run:  make bootstrap
    - name: Check lint
      run:  make lint
    - name: Test
      run:  make test
